:root {
    --roxo: hsl(259, 100%, 65%);
    --vermelho: hsl(0, 100%, 67%);

    --branco: hsl(0, 0%, 100%);
    --branco2: hsl(0, 0%, 94%);
    --cinza-claro: hsl(0, 0%, 86%);
    --cinza-fumaca: hsl(0, 1%, 44%);
    --preto: hsl(0, 1%, 44%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--branco2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--cinza-claro);
}

input:focus {
    outline-color: var(--roxo);
    outline-offset: 0px;
    border: 1px solid var(--roxo);
}

strong {
    color: var(--roxo);
}

form {
    display: flex;
    gap: 20px;
}

button {
    background-color: var(--roxo);
    border: none;
    box-shadow: none;
    border-radius: 100%;
    padding: 0.9rem;
}

button:hover {
    background-color: black;
}

.label {
    display: flex;
    flex-direction: column;
}

img {
    width: 35px;
    height: 25px;
}

main {
    height: 500px;
    width: 600px;
    background-color: var(--branco);
    box-shadow: 0px 0px 1px gray;
    border-radius: 15px;
    border-bottom-right-radius: 20%;
    padding: 50px;
}

.linha__container {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.linha {
    background-color: var(--cinza-claro);
    width: 550px;
    height: 1px;
}

.resultado {
    font-size: 70px;
    font-weight: 800;
    padding-top: 1rem;
}

.vermelho {
    color: var(--vermelho);
}

.vermelho__borda {
    border: 1px solid var(--vermelho);
}

.texto-campo-vazio__dia {
    color: var(--vermelho);
    font-size: 10px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.texto-campo-vazio__mes {
    color: var(--vermelho);
    font-size: 10px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.texto-campo-vazio__ano {
    color: var(--vermelho);
    font-size: 10px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.texto-campo-invalido__dia {
    color: var(--vermelho);
    padding-top: 0.2rem;
    font-size: 12px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.texto-campo-invalido__mes {
    color: var(--vermelho);
    padding-top: 0.2rem;
    font-size: 12px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.texto-campo-invalido__ano {
    color: var(--vermelho);
    padding-top: 0.2rem;
    font-size: 12px;
    opacity: 0.9;
    font-weight: 700;
    display: none;
}

.linha2 {
    display: none;
}

p{
    font-style: italic;
}

@media screen and (min-width: 375px) and (max-width: 1000px) {
    main {
        height: 320px;
        width: 230px;
        background-color: var(--branco);
        box-shadow: 0px 0px 1px gray;
        border-radius: 15px;
        border-bottom-right-radius: 20%;
        padding: 40px 50px 40px 30px;
    }

    input {
        width: 50px;
        height: 15px;
        border-radius: 5px;
        font-size: 15px;
        padding: 10px;
        border: 1px solid var(--cinza-claro);
    }

    .form {
        display: flex;
        gap: 0px;
    }

    .resultado {
        font-size: 35px;
        font-weight: 800;
        padding-top: 1rem;
    }

    .label {
        font-size: 12px;
        gap: 0px;
    }

    img {
        width: 32px;
        height: 22px;
    }

    .linha {
        background-color: var(--cinza-claro);
        width: 100px;
        height: 1px;
    }
    .linha2 {
        background-color: var(--cinza-claro);
        width: 90px;
        height: 1px;
        display: block;
    }
}